body{
	background:#669F52;
	color:#fff;
	padding:0;
	margin:0
}
a.back{color:lime}
h1,h2,h3{text-align:center;padding:0 15px}
h4{padding:0 15px}
.wrapper{margin:0;padding:20px 15px;width:100%}
.bg{max-width:1000px}

/*--------------------------
 ------ Navigation ------
--------------------------*/
ul.mainNav{}
ul.mainNav>li{list-style:none;padding:3px 15px;}
ul.mainNav>li>a{
	color:#fff;
	display:inline;
	padding:0;
	text-decoration:none
}
ul.mainNav>li>a:hover{
	background:none;
	color:red;
	text-decoration:underline;
}

/*--- Nav ------*/
ul.nav{}
ul.nav>li{list-style:none;display:inline-block}
ul.nav>li>a{
	color:#fff;
	display:inline-block;
	padding:3px 15px;
	text-decoration:none
}
ul.nav>li>a.active{background:#2c3e50}
ul.nav>li>a.active:hover{color:red}
ul.nav>li>a:hover{color:green;text-decoration:underline}

/*--------------------------
 ------ Insert & Edit ------
--------------------------*/
.formArea{margin:0;padding:25px 0 0;width:100%}
/*-----------------
 ------ View ------
-----------------*/
.viewArea{border-bottom:3px solid #fff;padding:15px 15px 80px;width:100%;}
.view{padding-bottom:15px;width:100%}
.view>label{display:inline-block;width:150px}
.view>p{color:#4F5B66;margin:0;display:inline-block;width:300px}
ul.viewLink{margin:0;padding:10px;text-align:center;}
ul.viewLink>li{display:inline-block;list-style:none;margin:0 30px;}
ul.viewLink>li>a{color:#fff;text-decoration:none}
ul.viewLink>li>a:hover{color:#4F5B66;text-decoration:underline}

/*-----------------
 ------ List ------
-----------------*/
.tableInfo{padding-bottom:12px}
p.textRight{margin:0;padding:8px 0;text-align:right;}
ul.download{margin:0;padding:0;width:100%;}
ul.download>li{
	display:block;
    float:left;
	font-size:20px;
    list-style:none;
    margin-right:10px
}
ul.download>li>a{display:block;width:36px}
ul.download>li>a>img{display:block;width:100%}
.items{color:#4388cc;padding:5px 8px;text-align:center;width:70%}
.items>option{}
.listArea{margin:0;padding:40px 0 0;widht:100%}
.listBox{box-sizing:border-box;float:left;padding:0;width:100%}
ul.listLink{
	float:right;
    margin:0;
    padding:20px 15px;
    text-align:right
}
ul.listLink>li{
	color:#b5b5b5;
	display:inline-block;
    float:left;
    line-height:33px;
    margin:0 6px
}
ul.listLink>li>a{color:#fff;text-decoration:none}
ul.listLink>li>a.next{
	background:url("../images/next.png") no-repeat 0 0 / 32px 32px;
    display:block;
    height:32px;
    width:32px;
}
ul.listLink>li>a:hover{color:#669F52;text-decoration:underline}
.text-center>tr>th{text-align:center}
td>a{color:#fff}
td>a:hover{color:#f39c12}
td>form{display:inline-block}
.list-btn{
	background:none;
	border:0;
	border-radius:15px;
    cursor:pointer;
	display:inline-block;
    height:26px;
    margin:0 5px;
    padding:0;
    width:26px
}
.list-btn>img{width:100%}
#footer{
	bottom:0;
    left:0;
    position:fixed;
    right:0;
    width:100%;
}
.footerArea{
	box-sizing:border-box;
    margin:0 auto;
    max-width:1000px;
    padding:0 15px
}
.footer{text-align:right}
.footer>p{}
.footer>p>a{font-family:Comic Sans MS;color:#fcff22}
.footer>p>a:hover{color:#bdfe09}
/*--- Message ----*/
.message{text-align:center}
.message>p{
	background:#fff;
    border-radius:3px;
    box-shadow:1px 3px 4px #333;
    margin:0;
    padding:12px 15px
}
.message>p.success{color:green}
.message>p.error{color:red}
/*--- Animation ----*/
ul.mainNav>li>a:hover,
ul.nav>li>a:hover,
ul.viewLink>li>a:hover,
ul.listLink>li>a:hover,
.footer>p>span:hover,
td>a:hover{
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}